.status {
    background-color: var(--color-primary);
    border-radius: 20px;
    padding: 20px;
}

.status div {
    border-radius: inherit;
    border: 5px solid white;
    color: white;
    padding: 20px;
}

.status .logo{
    width: 100%;
    height: 200px;
}

